gesture_plotter_flow.json
[{"id":"b3388fe0.e3f65","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19d3ceb.1d77431","type":"serial out","z":"b3388fe0.e3f65","name":"","serial":"fec5fdd7.66d6e","x":1080,"y":320,"wires":[]},{"id":"95f3bced.c1901","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":160,"wires":[["910b3a6d.12a818"]]},{"id":"7a6eaddc.4e7e54","type":"debug","z":"b3388fe0.e3f65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":720,"wires":[]},{"id":"910b3a6d.12a818","type":"function","z":"b3388fe0.e3f65","name":"Pen Up","func":"msg.payload = \"SP,1,100\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["19d3ceb.1d77431"]]},{"id":"10ceb4b6.9327eb","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":200,"wires":[["f13d647c.f9d5e8"]]},{"id":"f13d647c.f9d5e8","type":"function","z":"b3388fe0.e3f65","name":"Pen Down","func":"msg.payload = \"SP,0,100\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["19d3ceb.1d77431"]]},{"id":"5963c3dd.92bbfc","type":"function","z":"b3388fe0.e3f65","name":"Enable Motors","func":"msg.payload = \"EM,1,1\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["19d3ceb.1d77431"]]},{"id":"7af71730.b72378","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":280,"wires":[["5963c3dd.92bbfc"]]},{"id":"b10b0c1b.3b223","type":"function","z":"b3388fe0.e3f65","name":"Disable Motors","func":"msg.payload = \"EM,0,0\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["19d3ceb.1d77431"]]},{"id":"9486babf.6101c8","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":320,"wires":[["b10b0c1b.3b223"]]},{"id":"e27a06ef.d0fed8","type":"function","z":"b3388fe0.e3f65","name":"Move negative Y","func":"msg.payload = \"XM,200,0,-1000\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["19d3ceb.1d77431"]]},{"id":"744c8e17.8f1e4","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":400,"wires":[["e27a06ef.d0fed8"]]},{"id":"9d4d30ad.42f06","type":"function","z":"b3388fe0.e3f65","name":"Move positive Y","func":"msg.payload = \"XM,200,0,1000\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":440,"wires":[["19d3ceb.1d77431"]]},{"id":"2e7ce908.04f3f6","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":440,"wires":[["9d4d30ad.42f06"]]},{"id":"9ef53d0b.81e54","type":"function","z":"b3388fe0.e3f65","name":"Move negative X","func":"msg.payload = \"XM,200,-1000,0\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["19d3ceb.1d77431"]]},{"id":"7fca7164.653fd","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":480,"wires":[["9ef53d0b.81e54"]]},{"id":"a4c4608c.51f46","type":"function","z":"b3388fe0.e3f65","name":"Move positive X","func":"msg.payload = \"XM,200,1000,0\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["19d3ceb.1d77431"]]},{"id":"90d8b898.1cb0e8","type":"inject","z":"b3388fe0.e3f65","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":520,"wires":[["a4c4608c.51f46"]]},{"id":"71747da3.8e3e84","type":"grovepi-gesture-sensor","z":"b3388fe0.e3f65","name":"","mode":"timer","interval":1,"unit":"s","pin":"2","x":360,"y":720,"wires":[["7a6eaddc.4e7e54","18a091f5.763d2e"]]},{"id":"18a091f5.763d2e","type":"switch","z":"b3388fe0.e3f65","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"backward","vt":"str"},{"t":"eq","v":"forward","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"right","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":570,"y":640,"wires":[["910b3a6d.12a818"],["f13d647c.f9d5e8"],["e27a06ef.d0fed8"],["9d4d30ad.42f06"],["9ef53d0b.81e54"],["a4c4608c.51f46"]]},{"id":"fec5fdd7.66d6e","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"100","bin":"false","out":"interbyte","addchar":"","responsetimeout":"10000"}]