examples/distance_sensor.json
[{"id":"77076249.d4289c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23f0202c.058da","type":"grovepi-ultrasonic","z":"77076249.d4289c","name":"","pin":"8","x":130,"y":260,"wires":[["312bcea3.555112","9312ac7f.656b6","936f94c1.ca6c28","3a60904d.08d46"]]},{"id":"1f8676be.a80899","type":"grovepi-led","z":"77076249.d4289c","name":"","pin":"2","set":"","x":570,"y":100,"wires":[]},{"id":"994920b.0f9aae","type":"grovepi-led","z":"77076249.d4289c","name":"","pin":"3","set":"","x":570,"y":140,"wires":[]},{"id":"50dfc733.289ce8","type":"grovepi-led","z":"77076249.d4289c","name":"","pin":"4","set":"","x":570,"y":180,"wires":[]},{"id":"312bcea3.555112","type":"function","z":"77076249.d4289c","name":"Limit 100","func":"if (msg.payload > 100) {\n    msg.payload = 0;\n} else {\n    msg.payload = 255;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["1f8676be.a80899"]]},{"id":"9312ac7f.656b6","type":"function","z":"77076249.d4289c","name":"Limit 50","func":"if (msg.payload > 50) {\n    msg.payload = 0;\n} else {\n    msg.payload = 255;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["994920b.0f9aae"]]},{"id":"936f94c1.ca6c28","type":"function","z":"77076249.d4289c","name":"Limit 20","func":"if (msg.payload > 20) {\n    msg.payload = 0;\n} else {\n    msg.payload = 255;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["50dfc733.289ce8"]]},{"id":"2982391f.0cc626","type":"comment","z":"77076249.d4289c","name":"Indicator Lights","info":"","x":440,"y":60,"wires":[]},{"id":"3761dd9c.1fb002","type":"od-wrap","z":"77076249.d4289c","od_name":"distance","od_id":"distance.1.1","od_user":"nodered","value_name":"distance","value_unit":"none","value_type":"Number","x":600,"y":300,"wires":[["e902809c.992c5"]]},{"id":"c39560dd.823e","type":"comment","z":"77076249.d4289c","name":"Event Stream","info":"","x":590,"y":260,"wires":[]},{"id":"e902809c.992c5","type":"od-sink","z":"77076249.d4289c","name":"","x":800,"y":300,"wires":[]},{"id":"b2c49514.d83838","type":"comment","z":"77076249.d4289c","name":"Distance Sensor","info":"","x":120,"y":220,"wires":[]},{"id":"3a60904d.08d46","type":"trigger","z":"77076249.d4289c","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":360,"y":300,"wires":[["3761dd9c.1fb002"]]},{"id":"419de5c3.78e38c","type":"od-source","z":"77076249.d4289c","name":"","x":140,"y":500,"wires":[["a23c71a1.614c2"]]},{"id":"14990b98.07bf74","type":"debug","z":"77076249.d4289c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"a23c71a1.614c2","type":"function","z":"77076249.d4289c","name":"Alert Filter","func":"if (msg.payload.type == \"alert\") {\n  return msg;\n}","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["14990b98.07bf74","123fe9b3.4be316","ce6abe36.11118"]]},{"id":"b7756186.836b4","type":"grovepi-lcd-rgb","z":"77076249.d4289c","name":"","x":960,"y":560,"wires":[]},{"id":"123fe9b3.4be316","type":"function","z":"77076249.d4289c","name":"Format Message","func":"let alert = msg.payload;\nmsg.payload = {\n    text: `${alert.name}: ${alert.value}`,\n    rgb: [255, 0, 0],\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["b7756186.836b4"]]},{"id":"b2de0208.31f54","type":"comment","z":"77076249.d4289c","name":"Alert Display","info":"","x":110,"y":440,"wires":[]},{"id":"ce6abe36.11118","type":"trigger","z":"77076249.d4289c","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"2000","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":520,"y":660,"wires":[["e03411e5.89ff4"]]},{"id":"e03411e5.89ff4","type":"function","z":"77076249.d4289c","name":"Clear Message","func":"let alert = msg.payload;\nmsg.payload = {\n    text: \"No Alerts\",\n    rgb: [0, 255, 0],\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":660,"wires":[["b7756186.836b4"]]},{"id":"ecf8451e.5181a8","type":"comment","z":"77076249.d4289c","name":"Overwrite the alert after a delay","info":"","x":630,"y":600,"wires":[]},{"id":"e86af83a.17c638","type":"inject","z":"77076249.d4289c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":720,"wires":[["e03411e5.89ff4"]]}]