examples/Plotter Sensor Chart.json
[{"id":"9f0227ab.35d3c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c52e3dee.7067f","type":"function","z":"9f0227ab.35d3c8","name":"Enable Motors","func":"msg.payload = \"enable_motors\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":440,"wires":[["664650df.ee3c4"]]},{"id":"e226814c.4e0fe","type":"inject","z":"9f0227ab.35d3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":440,"wires":[["c52e3dee.7067f"]]},{"id":"703fe8ae.fe4f78","type":"function","z":"9f0227ab.35d3c8","name":"Disable Motors","func":"msg.payload = \"disable_motors\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["664650df.ee3c4"]]},{"id":"79d3fdd8.1be644","type":"inject","z":"9f0227ab.35d3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":480,"wires":[["703fe8ae.fe4f78"]]},{"id":"664650df.ee3c4","type":"tcp out","z":"9f0227ab.35d3c8","host":"192.168.8.101","port":"9124","beserver":"client","base64":false,"end":false,"name":"","x":850,"y":520,"wires":[]},{"id":"3a5b824c.61e59e","type":"inject","z":"9f0227ab.35d3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":340,"wires":[["499e082b.be4b68"]]},{"id":"499e082b.be4b68","type":"function","z":"9f0227ab.35d3c8","name":"Pen Up","func":"msg.payload = \"pen_up\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["664650df.ee3c4"]]},{"id":"2a0642b4.5ddbfe","type":"inject","z":"9f0227ab.35d3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":380,"wires":[["ee3a611b.55fa2"]]},{"id":"ee3a611b.55fa2","type":"function","z":"9f0227ab.35d3c8","name":"Pen Down","func":"msg.payload = \"pen_down\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["664650df.ee3c4"]]},{"id":"de2c594.af256a8","type":"function","z":"9f0227ab.35d3c8","name":"Stop","func":"msg.payload = \"stop\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["664650df.ee3c4"]]},{"id":"d9a50a75.221918","type":"inject","z":"9f0227ab.35d3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":640,"wires":[["de2c594.af256a8"]]},{"id":"a2279851.c9c148","type":"function","z":"9f0227ab.35d3c8","name":"Send Value","func":"msg.payload = msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["664650df.ee3c4"]]},{"id":"22a3fda8.43d8b2","type":"function","z":"9f0227ab.35d3c8","name":"Start","func":"msg.payload = \"start\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":600,"wires":[["664650df.ee3c4"]]},{"id":"5183f0c.331d21","type":"inject","z":"9f0227ab.35d3c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":600,"wires":[["22a3fda8.43d8b2"]]},{"id":"5ec19cbb.88d6b4","type":"function","z":"9f0227ab.35d3c8","name":"Start","func":"if (msg.payload === 1) {\n  msg.payload = \"start\\n\"\n} else {\n  msg.payload = \"nothing\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":840,"wires":[["664650df.ee3c4"]]},{"id":"522abfeb.c2db8","type":"rbe","z":"9f0227ab.35d3c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":840,"wires":[["5ec19cbb.88d6b4"]]},{"id":"8a1c59fc.f35bd8","type":"rbe","z":"9f0227ab.35d3c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":310,"y":760,"wires":[["a2279851.c9c148"]]},{"id":"a91667b5.fcb348","type":"comment","z":"9f0227ab.35d3c8","name":"Plotter Control","info":"","x":230,"y":300,"wires":[]},{"id":"2132a8b7.562238","type":"comment","z":"9f0227ab.35d3c8","name":"Program Control","info":"","x":240,"y":560,"wires":[]},{"id":"7c2f4af2.f93ec4","type":"comment","z":"9f0227ab.35d3c8","name":"Sensor Inputs","info":"","x":110,"y":720,"wires":[]},{"id":"c173c3b2.313bf","type":"grovepi-rotary","z":"9f0227ab.35d3c8","name":"","mode":"timer","interval":1,"unit":"s","pin":"0","sensorname":"Rotary Angle Sensor","sensorid":"grovepi.rotary.1","x":130,"y":760,"wires":[["8a1c59fc.f35bd8"]]},{"id":"a54809ab.9ed638","type":"grovepi-button","z":"9f0227ab.35d3c8","name":"","mode":"timer","interval":1,"unit":"s","pin":"2","sensorname":"Button","sensorid":"grovepi.button.1","x":90,"y":840,"wires":[["522abfeb.c2db8"]]}]