examples/Plotter Gesture Control.json
[{"id":"c22ca0ad.8ccd9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ef1bf7e.09ee2","type":"function","z":"c22ca0ad.8ccd9","name":"Enable Motors","func":"msg.payload = \"enable_motors\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["232b2e88.d0f5b2"]]},{"id":"d60e7699.8559b8","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":740,"wires":[["4ef1bf7e.09ee2"]]},{"id":"1a28fb06.94d455","type":"function","z":"c22ca0ad.8ccd9","name":"Disable Motors","func":"msg.payload = \"disable_motors\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":780,"wires":[["232b2e88.d0f5b2"]]},{"id":"c07c9c18.f4728","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":780,"wires":[["1a28fb06.94d455"]]},{"id":"1aa62879.ae6ef8","type":"switch","z":"c22ca0ad.8ccd9","name":"Translate Gesture","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"backward","vt":"str"},{"t":"eq","v":"forward","vt":"str"},{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"right","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":630,"y":320,"wires":[[],[],["eb1d9d73.e4e8f"],["208d6da.1269592"],["9f717bb1.46ed78"],["549dfbb8.897654"]]},{"id":"232b2e88.d0f5b2","type":"tcp out","z":"c22ca0ad.8ccd9","host":"192.168.8.101","port":"9123","beserver":"client","base64":false,"end":false,"name":"","x":1230,"y":600,"wires":[]},{"id":"96436960.06a368","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":460,"wires":[["362c4107.528c4e"]]},{"id":"362c4107.528c4e","type":"function","z":"c22ca0ad.8ccd9","name":"Pen Up","func":"msg.payload = \"pen_up\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["232b2e88.d0f5b2"]]},{"id":"753587ab.40ca08","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":500,"wires":[["d4703b2e.ff47e8"]]},{"id":"d4703b2e.ff47e8","type":"function","z":"c22ca0ad.8ccd9","name":"Pen Down","func":"msg.payload = \"pen_down\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":500,"wires":[["232b2e88.d0f5b2"]]},{"id":"86858c4f.fa3b2","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":560,"wires":[["eb1d9d73.e4e8f"]]},{"id":"eb1d9d73.e4e8f","type":"function","z":"c22ca0ad.8ccd9","name":"Up","func":"msg.payload = \"up\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":560,"wires":[["232b2e88.d0f5b2"]]},{"id":"859f45d0.8924e8","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":600,"wires":[["208d6da.1269592"]]},{"id":"208d6da.1269592","type":"function","z":"c22ca0ad.8ccd9","name":"Down","func":"msg.payload = \"down\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":600,"wires":[["232b2e88.d0f5b2"]]},{"id":"450aa185.f5d7e","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":640,"wires":[["9f717bb1.46ed78"]]},{"id":"9f717bb1.46ed78","type":"function","z":"c22ca0ad.8ccd9","name":"Left","func":"msg.payload = \"left\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":640,"wires":[["232b2e88.d0f5b2"]]},{"id":"1003cd95.e0f1a2","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":680,"wires":[["549dfbb8.897654"]]},{"id":"549dfbb8.897654","type":"function","z":"c22ca0ad.8ccd9","name":"Right","func":"msg.payload = \"right\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":680,"wires":[["232b2e88.d0f5b2"]]},{"id":"94159ad3.139ec8","type":"function","z":"c22ca0ad.8ccd9","name":"Stop","func":"msg.payload = \"stop\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":960,"wires":[["232b2e88.d0f5b2"]]},{"id":"fe440b87.165088","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":960,"wires":[["94159ad3.139ec8"]]},{"id":"ccc99bbc.3280b8","type":"function","z":"c22ca0ad.8ccd9","name":"Start","func":"msg.payload = \"start\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":920,"wires":[["232b2e88.d0f5b2"]]},{"id":"192848a9.8e2437","type":"inject","z":"c22ca0ad.8ccd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":920,"wires":[["ccc99bbc.3280b8"]]},{"id":"5fe97539.cae42c","type":"function","z":"c22ca0ad.8ccd9","name":"Pen Toggle","func":"if (msg.payload === 1) {\n  msg.payload = \"pen_toggle\\n\"\n} else {\n  msg.payload = \"nothing\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["232b2e88.d0f5b2"]]},{"id":"64cc8996.d13c08","type":"function","z":"c22ca0ad.8ccd9","name":"Set Distance","func":"msg.payload = \"set_distance \" + msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":140,"wires":[["232b2e88.d0f5b2"]]},{"id":"ec0408f2.00c458","type":"range","z":"c22ca0ad.8ccd9","minin":"0","maxin":"1023","minout":"1","maxout":"10","action":"scale","round":true,"property":"payload","name":"Map Distance","x":580,"y":140,"wires":[["811085bc.e08078"]]},{"id":"811085bc.e08078","type":"rbe","z":"c22ca0ad.8ccd9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":730,"y":140,"wires":[["64cc8996.d13c08"]]},{"id":"6e942a1c.ab94f4","type":"comment","z":"c22ca0ad.8ccd9","name":"Program Control","info":"","x":380,"y":840,"wires":[]},{"id":"8be539f4.303768","type":"comment","z":"c22ca0ad.8ccd9","name":"Plotter Control","info":"","x":370,"y":400,"wires":[]},{"id":"e8604acf.597058","type":"grovepi-gesture-sensor","z":"c22ca0ad.8ccd9","name":"","pin":"1","sensorname":"Gesture Sensor","sensorid":"grovepi.gesture.1","x":380,"y":320,"wires":[["1aa62879.ae6ef8"]]},{"id":"4c0417d1.cb7958","type":"comment","z":"c22ca0ad.8ccd9","name":"Sensors","info":"","x":360,"y":80,"wires":[]},{"id":"3722cb88.f3b824","type":"grovepi-button","z":"c22ca0ad.8ccd9","name":"","mode":"timer","interval":"200","unit":"ms","pin":"2","sensorname":"Button","sensorid":"grovepi.button.1","x":350,"y":200,"wires":[["5fe97539.cae42c"]]},{"id":"77362bfb.c5a284","type":"grovepi-rotary","z":"c22ca0ad.8ccd9","name":"","mode":"timer","interval":"200","unit":"ms","pin":"2","sensorname":"Rotary Angle Sensor","sensorid":"grovepi.rotary.1","x":390,"y":140,"wires":[["ec0408f2.00c458"]]}]